body {
		padding-top: 50px;
	padding-bottom: 20px;
	background: url("https://i.imgur.com/VJ1Ktfe.jpg") no-repeat center center fixed; 
	background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}
.header-color{
	color: #FFF;
}
.vertical-text{
	transform: rotate(270deg);
	float: left;
}


.grid-titles{
	text-align: center;
	font-weight: bold;
	color: #FFF;
	font-size: 1.8em;
}
.text-bold{
	font-weight:bold;
}
.big-font{
	font-size: 8em;
}
.scalable{
	max-height: 100%;
	width:auto;
}
#P2{
	margin-top:35px;
	box-sizing: inherit;
}
#p1{
	height:120%;
	width: auto;
}
img{
	display:block;
	width: 100%;
	height: auto;
}
.row{
	overflow: hidden; 
}

[class*="col-"]#p2{
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}
#InnerP1{
	padding-bottom: 40%;
	padding-top: 30%;
}
.navbar-nav > li > a, .navbar-brand {
	padding-top:5px !important; padding-bottom:0px !important;
	height: 30px;
}
.navbar {min-height:30px !important;}
.row-top{
	max-height:50px;
}
@media (max-width: 767px) {
	#Spacer {
		padding: 30%;
	}
	.grid-titles{
		font-size:1.2em;
	}
	.row-top{
		max-height: 35px;
	}
	
}
@media (min-width: 767px) {
	#homeLink {
		display: none;
	}

	#Spacer {
		margin-bottom: 45px;
	}

	img.sepia {
		-webkit-filter: sepia(100%);
		-moz-filter: sepia(100%);
		filter: sepia(100%);
		transition: all 0.5s ease;
	}

		img.sepia:hover {
			-webkit-filter: sepia(0%);
			-moz-filter: sepia(0%);
			filter: sepia(0%);
			transition: all 0.5s ease;
		}
}
img.resize {
	height: 33px;
	width: auto;
}
.gridbutton{
	max-height: 100%;
	width: auto;
	max-width: 100%;
	float:right;
}
.sepia{
	border-radius:10px;
	border: 2px solid #031627
}