@{
    ViewBag.Title = "About the Developers";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <div id="bio-pics" class="row">
        <div class="col-xs-4">
            <img class="bio-img" src="~/Content/Images/Jeff.jpg" />
        </div>
        <div id="bio-img" class="col-xs-4">
            <img class="bio-img" src="~/Content/Images/Joginder.jpg" />
        </div>
        <div id="bio-img" class="col-xs-4">
            <img class="bio-img" src="~/Content/Images/Adam.jpg" />
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-xs-4">
            Jeff has always had a passion for technology, FOSS, and security. His phone is never stock, and his computers at home are in a near constant state of change. Moving foward, Jeff is looking to build a new career as a back-end developer with a focus on securing customer and company data.
        </div>
        <div class="col-xs-4">
            Joginder is a Zone Leader at Steelcase and is studying software development in college. His passions include learning new software languages, mechanical keyboards, and watching the New York Mets lose.
        </div>
        <div class="col-xs-4">
            Adam has done many things over his career.  He has always kept up with recent technologies and innovations.  Most work in the past is has been with hardware now working with software end.  Adam is working on becoming a back-end software developer.
        </div>
    </div>
</div>