@{
    ViewBag.Title = "About the Developers";
}
<h1 class="header-color text-bold">@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

<div id="about">
    <div class="row bio-pics">
        <div class="col-sm-4 bio-panel jeff">
            <div class="row">
                <a href=mailto:jeff.stewart@protonmail.com>
                <img class="circle bio-img hover-button" src="~/Content/Images/Jeff.jpg" />
                    </a>
            </div>
            <div class="row break">
                <div class="col-xs-12 header-color ">
                    Jeff has always had a passion for technology, FOSS, and security. His phone is never stock, and his computers at home are in a near constant state of change. Moving foward, Jeff is looking to build a new career as a back-end developer with a focus on securing customer and company data.
                </div>            </div>
        </div>
        <div class="col-sm-4 header-color joginder">
            <div class="row">
                <a href=mailto:jogindersahni@gmail.com>
                    <img class="circle bio-img hover-button" src="~/Content/Images/Joginder.jpg" />
                    </a>
</div>
            <div class="row break">
                <div class="col-xs-12 ">
                    Joginder is a Zone Leader at Steelcase and is studying software development in college. His passions include learning new software languages, buying mechanical keyboards, and watching the New York Mets lose.
                </div>            </div>
        </div>
        <div class="col-sm-4 bio-panel adam">
            <div class="row">
                <a href=mailto:avair@steelcase.com>
                    <img class="circle bio-img hover-button" src="~/Content/Images/Adam.jpg" />
                    </a>
</div>
            <div class="row break">
                <div class="col-xs-12 header-color">
                    Adam has done many things over his career.  He has always kept up with recent technologies and innovations.  Most work in the past is has been with hardware now working with software end.  Adam is working on becoming a back-end software developer.
                </div>            </div>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-xs-4">
            
        </div>
        <div class="col-xs-4">
            
        </div>
        <div class="col-xs-4">
           
        </div>
    </div>
</div>